.userprofile {
    margin-top: 15px!important;
}

    .userprofile .user-header {
        height: auto !important
    }
    .userprofile .user-body {
        border-bottom: 1px solid #dee2e6 !important
    } 



.btnAddNew {
    width: 20%;
}

.dataTables_filter {
    text-align: right;
}
