@model POS.Domain.ViewModels.UserModel

<div class="modal fade" id="Custom-myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <form asp-action="UpdateUser" asp-controller="Users" asp-antiforgery="true"
                  data-ajax-success="success"
                  data-ajax-fail="fail"
                  data-ajax="true"
                  data-ajax-method="POST">

                @Html.AntiForgeryToken()

                <partial name="_ModalHeader" view-data="ViewData" />
                <div class="modal-body">
                    <input type="hidden" asp-for="User_ID" />
                    <div class="form-group">
                        <label asp-for="User_Name"></label>
                        <input asp-for="User_Name" class="form-control" />
                        <span asp-validation-for="User_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role"></label>
                        <input asp-for="Role" class="form-control" />
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>
                <partial name="_ModalFooter" />
            </form>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial"></partial>
<partial name="_DialogScriptsPartial"></partial>