@model POS.Domain.ViewModels.DepartmentModel


<div class="modal fade" id="Custom-myModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content ">
            <form asp-action="CreateDepartment" role="form" asp-controller="Departments" asp-antiforgery=true
                  data-ajax-success="success"
                  data-ajax-Fail="fail"
                  data-ajax="true"
                  data-ajax-method="POST">

                @Html.AntiForgeryToken()

                <partial name="_ModalHeader" view-data="ViewData" />

                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Department_Name"></label>
                        <input asp-for="Department_Name" class="form-control" />
                        <span asp-validation-for="Department_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>
                <partial name="_ModalFooter" />
            </form>


        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial"></partial>
<partial name="_DialogScriptsPartial"></partial>