@model POS.Domain.ViewModels.DepartmentModel


<div class="modal fade" id="Custom-myModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content ">
            <form asp-action="CreateDepartment" id="frmCreate" role="form" asp-controller="Departments" asp-antiforgery=true
                  data-ajax-success="success"
                  data-ajax-Fail="fail"
                  data-ajax="true"
                  data-ajax-method="POST">

                @Html.AntiForgeryToken()

                <partial name="_ModalHeader" view-data="ViewData" />
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Department_Name"></label>
                        <input asp-for="Department_Name" class="form-control" />
                        <span asp-validation-for="Department_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<script src="~/plugins/jquery-validation/jquery.validate.js"></script>

<script src="~/plugins/jquery-validation/additional-methods.js"></script>*@

@*<script src="~/plugins/Jquery-form/jquery.form.js"></script>*@
@*
<script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@



@*<partial name="_ValidationScriptsPartial"></partial>*@
@*<partial name="_DialogScriptsPartial"></partial>*@


<script type="text/javascript">

    var success = (data) => {

        if (data.resultCode == 0) {

            $('#Custom-myModal').modal('hide');
            showDialog("", data.resultDescription, "success", data.controller, data.action, data.id, true, false, null, 0);
        }
        else {
            showDialog('SomethingWentWrong', data.resultDescription, "error", "", "", 0, false, false, null, 0);
        }
    }

    var fail = data => {
        showDialog('SomethingWentWrong', data.resultDescription, "error", "", "", 0, false, false, null, 0);
    }
</script>
