@model POS.Domain.ViewModels.DepartmentModel

<div class="modal fade" id="Custom-myModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content ">
            <form asp-action="UpdateDepartment" asp-controller="Departments" asp-antiforgery="true"
                  data-ajax-success="successUpdate"
                  data-ajax-fail="failUpdate"
                  data-ajax="true"
                  data-ajax-method="post">

                @Html.AntiForgeryToken()
                <div class="modal-header bg-primary">
                    <h4 class="modal-title">Update Department</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>               
                <div class="modal-body">
                    <input type="hidden" asp-for="Department_ID" />
                    <div class="form-group">
                        <label asp-for="Department_Name"></label>
                        <input asp-for="Department_Name" class="form-control" />
                        <span asp-validation-for="Department_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial"></partial>

<script type="text/javascript">

    var successUpdate = (data) => {

        if (data.resultCode == 0) {
            $('#Custom-myModal').modal('hide');
            showDialog("", 'Updated Successfully!', "success", "Departments", "Index", data.id, true, false, null, 0);
        }
        else {
            showDialog('SomethingWentWrong', data.resultDescription, "error", "", "", 0, false, false, null, 0);
        }
    }

    var failUpdate = data => {

        showDialog('SomethingWentWrong', 'Error', "error", "", "", 0, false, false, null, 0);
    }

</script>