<div class="modal-header bg-primary">
    <h3 class="modal-title">@ViewData["Title"]</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>